<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" />


<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
	<div id="carouselExampleSlidesOnly" class="carousel slide"
		data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block w-100"
					src="http://placehold.it/900x350"
					alt="First slide"  >
			</div>
			<div class="carousel-item">
				<img class="d-block w-100"
					src="http://placehold.it/900x350"
					alt="Second slide" >
			</div>
			<div class="carousel-item">
				<img class="d-block w-100"
					src="http://placehold.it/900x350"
					alt="Third slide" >
			</div>
		</div>
	</div>
	</div>
</body>
</html>